*{
    font-family: "Arial";
}

.border{
    border: 1px solid rgb(195,182,147);
}

.header{
    background-color: rgb(179,179,179);
    padding: 5px 0px 10px 10px;
    font-size: 44pt;
    display: block;
    font-weight: lighter;
}

.body{
    background-color: rgb(204,204,204);
    padding: 0px 10px 0px 10px;
    font-size: 18pt;
    display: block;
}

.footer{
    background-color: rgb(255,255,153);
    padding: 0px 10px 0px 10px;
    font-size: 18pt;
    display: block;
}

.footer span{
    font-weight: bold;
}



@media only screen and (max-width: 500px){
    .phone{
        visibility: visible;
    }
    .tablet{
        display: none;
    }
    .desktop{
        display: none;
    }
    .margin{
        margin: 10px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1023px){
    .phone{
        display: none;
    }
    .tablet{
        visibility: visible;
    }
    .desktop{
        display: none;
    }
    .margin{
        margin: 10px;
    }
}

@media only screen and (min-width: 1024px){
    .phone{
        display: none;
    }
    .tablet{
        display: none;
    }
    .desktop{
        visibility: visible;
    }
    .margin{
        margin: 5px;
    }
}
